@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #012030, #13678A, #45C4B0, #9AEBA3);
    
}

main {   /*Conteúdo escrito que fica dentro do body*/
    background-color: white;
    border-radius: 10px; /*bordas arredondadas*/
    box-shadow: 5px 5px 15px #021c27bd; /*sombras*/
    width: 600px; /*Tamanho do bloco de texto*/
    padding: 10px; /*largura das bordas*/
    margin: auto; /*centralizar conteúdo no meio*/
    text-align: center;
}

h1{
   color: #038C3E;       
   text-shadow: 1px 1px 2px #01612bd3;
}

h2{
    color: #02735E;
}





